<% if @aquisicao.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@aquisicao.errors.count, "error") %> prohibited this solicitacao from being saved:</h2>

    <ul>
    <% @aquisicao.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>Nova Aquisição</h1>
<%= render 'form', aquisicao: @aquisicao %>
