<h1>Alterando o Produto</h1>

<%= render 'form', produto: @produto %>

<%= link_to @produto, class: "btn btn-default" do %> <i class="fa fa-eye"></i> <%end%></td>
<%= link_to produtos_path, class: "btn btn-primary" do %> <i class="fa fa-reply"></i> Voltar <%end%>
